*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body{background-color:#f6f6f6; overflow-x: hidden;}

/* 父标题 */
.am-subtitle{font-size: .56rem; line-height: 1.7rem; position: relative; text-align: center;}
.am-subtitle:before,.am-subtitle:after{content:''; display: block; height:.03rem; width:1.2rem; background: #333; position:absolute; top:50%;}
.am-subtitle:before{ left:22%;}
.am-subtitle:after{ right:22%;}

/* 标题超出隐藏 */
.line-clamp-2,.line-clamp-3{overflow :hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;}
.line-clamp-2{-webkit-line-clamp: 2;}
.line-clamp-3{-webkit-line-clamp: 3;}
.am-text-truncate{word-wrap: normal; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

/*布局*/
.g-community-circle,.g-navbar{background: #fff;}
.g-banner,.g-navbar{margin-bottom: 0.21rem;}


.g-banner{overflow: hidden; width:100%; font-size: 0;}
.g-banner img{width:100%;}
.g-banner.am-margin-0{margin:0rem;}

/* 公共模块之滑动网格 */
.m-slidesGrid img{width: 100%;}
.m-slidesGrid{ background-color:#fff; margin-bottom: 0.21rem; width:100%; overflow: hidden;}
.m-slidesGrid .swiper-slide{position:relative;}
.m-slidesGrid .swiper-slide h3{font-size: .36rem;}
.m-slidesGrid .swiper-slide p{font-size:.24rem;}
.m-slidesGrid .swiper-slide>p{font-size:.48rem;}
.m-slidesGrid .swiper-slide>div{position:absolute; top:50%; width:100%; color:#fff; -webkit-transform: translateY(-50%); -moz-transform:translateY(-50%); transform: translateY(-50%); text-align: center;}
.m-slidesGrid .swiper-slide>div>i{display: block; width:80%; height:1px; background-color:#fff; margin:.21rem auto;}
.m-slidesGrid .swiper-slide h3{font-size: .36rem;}
.m-slidesGrid .more{font-size:0.346rem; color: #666; line-height: 1.17rem;}
.m-slidesGrid .more>span{margin-left:.2rem;}

/* 选项卡模块 */
.m-navbar{font-size: .4rem;}
.m-navbar .slides{ padding-left:.32rem;}
.m-navbar a{line-height: 1.173rem; display: block; width:100%; height: 1.173rem; text-align: center;}
.m-navbar a.router-link-active{color:#ffb422;}
.m-navbar a.router-link-active:after{content:''; display: block; height:.05rem; width:1rem; background: #ffb422; margin:0px auto;}
.m-navbar>ul{display: flex;}
.m-navbar>ul>li{flex:1;}

/*使用该布局，会增加高度1.17rem*/
.g-header-seat:before{content: ""; display: block; height:1.17rem;}

/* 头部模块 */
.m-default-hader{background-color: #ffb422; font-size:.48rem; line-height: 1.17rem; padding:0 .32rem; color:#292929; position:fixed; z-index: 999; width:100%; text-align: center; top:0rem;}
.m-default-hader h1{font-size:.48rem;}
.m-default-hader a{color:#292929; display: block;}
.m-default-hader>a{line-height: 1.17rem; position:absolute;}
.m-default-hader a.ico-left{left:.32rem;}
.m-default-hader a.ico-right{right:.32rem;}
.m-default-hader ul{ display:flex; justify-content:center; flex-direction:row;}
.m-default-hader ul>li{display:inline; margin:0 0.427rem;}
.m-default-hader .router-link-active{position:relative;}
.m-default-hader .router-link-active:after{content:''; display:block; height:.06rem; background-color: #292929; width:100%; position:absolute; bottom:0px;}

.m-msg-header{position:fixed; width:100%; z-index: 888; line-height: 1.17rem; top:0rem; transition: top .5s;}
.m-msg-header h1{font-size:.48rem; margin:0px auto; opacity: 0; color:#fff; max-width: 60%; text-align: center;}
.m-msg-header a{color:#fff; font-size:.48rem;}
.m-msg-header>a{position:absolute; top:50%; -webkit-transform: translateY(-50%); -moz-transform:translateY(-50%); transform: translateY(-50%); background: rgba(102,102,102,0.4); width:.74rem; height:.74rem; line-height: .8rem; text-align: center; border-radius:0.37rem; z-index: 999;}
.m-msg-header a.ico-left{left:.32rem;}
.m-msg-header a.ico-right{right:.32rem;}

.m-msg-header.active{background-color: #ffb422;}
.m-msg-header.active>a{background: none;}
.m-msg-header.active h1{opacity: 1;}

/* 帖子模块 */
.m-community-list li{padding:0 .32rem; margin-bottom: 0.21rem; background: #fff;}
.m-community-list li img{width:100%;}
.m-community-list .head{padding:0.42rem 0rem; overflow: hidden;}
.m-community-list .portrait{width:0.74rem; height:0.74rem; float:left; border-radius:0.37rem;}
.m-community-list .name{float:left; line-height: 0.74rem; margin-left:0.32rem; font-size: 0.4rem;}
.m-community-list h3{font-size:0.52rem; margin-bottom: 0.42rem; font-weight: bold;}
.m-community-list p{font-size:0.42rem; margin-bottom: 0.42rem; }
.m-community-list .picList{display:flex;}
.m-community-list .picList>div{margin-right: 2.1%; flex: 1;}
.m-community-list .picList>div:last-child{margin-right: 0rem;}
.m-community-list .foot{overflow: hidden;}
.m-community-list .foot>span{font-size: 0.4rem; line-height: 1.17rem; color:#999999; margin-right:0.42rem; float:left;}
.m-community-list .foot>span>i{margin-right: 0.21rem;}
.m-community-list .foot>.time{float:right; margin:0rem;}
/*不满足3张图的情况*/
.m-community-list .content{display: flex;}
.m-community-list .content>.text{width:50%; flex: 1; padding-right:1.2rem;}
.m-community-list .content>.pic{width:31.933333%;}
/* 菜谱模块改版 */
.m-meun-list li{padding-top:.42rem;}
.m-meun-list .content>.text{padding: 0rem 0rem 0rem .6rem;}

/* 圈子布局 */
.g-community-circle{text-align: left;}
.g-community-circle .more{font-size:0.346rem; color: #666; line-height: 1.17rem; display: block; width:100%; text-align: center;}
.g-community-circle .more>span{margin-left:.2rem;}
.g-community-circle .m-slidesGrid .slides{ padding-left:.32rem;}

/* 社区帖子详情 */
.m-community-content{padding:.64rem .32rem; background: #fff;}
.m-community-content h2{font-size:0.64rem; font-weight: bold; padding:.85rem .9rem .85rem 0rem;}
.m-community-content p{font-size:0.42rem; line-height: 0.64rem; margin-bottom: 0.64rem;}
.m-community-content img{max-width:100%;}
.m-community-content i{padding-right:.5rem;}
.m-community-content .head{overflow: hidden;}
.m-community-content .head .portrait{width:0.74rem; height:0.74rem; float:left; border-radius:0.37rem;}
.m-community-content .head .name{float:left; line-height: 0.74rem; margin-left:0.32rem; font-size: 0.4rem;}
.m-community-content .head a.time{float:right; line-height: 0.74rem; font-size: 0.4rem;}
.m-community-content .head a.time>i{margin-right: 0.21rem; padding:0rem;}

/* 圈子类别 */
.m-community-class{background: #fff;}
.m-community-class li{width:100%; height:4.27rem; background-position: center; background-repeat: no-repeat; background-size: cover;}
.m-community-class li>a{display: block; width:100%; background: rgba(41,41,41,.5); height:4.27rem; color:#fff; padding:.6rem;}
.m-community-class li div{overflow: hidden;}
.m-community-class li div>span{font-size: 0.4rem; margin-right:0.42rem; float:left;}
.m-community-class li div>span>i{margin-right: 0.21rem;}
.m-community-class li h3{font-size:0.64rem; line-height: 1.85rem;}
.m-community-class li h3:after{content:''; display: block; width:1.8rem; height:.05rem; background: #fff;}
.m-community-class li p{font-size:0.42rem; margin-top:0.21rem;}

/* 圈子布局 */
.g-Commouity{background-color: #fff; margin-bottom: 0.21rem;}
.g-Commouity .m-myDefault{padding:.64rem .32rem; text-align: center;}
.g-Commouity .m-myDefault i{font-size:3rem; display: block; margin-bottom: .8rem;}
.g-Commouity .m-myDefault p{font-size:0.42rem;}

#footer:after{ content:''; display: block; height:1.3rem;}
#footer ul{display: flex; align-items: center;  height:1.3rem; padding:0 .32rem; background: #292929; position:fixed; bottom:0rem; width:100%; z-index: 999;}
#footer ul>li{flex: 1; text-align: center;}
#footer ul>li p{width:100%; font-size:0.24rem;}
#footer ul>li>a{color:#fff; font-size:0.53rem; display:block;}
#footer .router-link-active>a{color:#ffb422;}
#footer .router-link-active>.icon-home:before {content: "\e90a";}
#footer .router-link-active>.icon-goods:before {content: "\e908";}
#footer .router-link-active>.icon-message:before {content: "\e90e";}
#footer .router-link-active>.icon-cart:before {content: "\e905";}
#footer .router-link-active>.icon-my:before {content: "\e911";}
/* 商品购买页面底部 */
.m-shop-footer ul{padding:0rem !important; background: none !important; z-index: 996 !important;}
.m-shop-footer li{cursor:pointer;}
.m-shop-footer .shopping-cart span,.m-shop-footer .purchase span{font-size:.42rem; line-height: 1.3rem;}
.m-shop-footer .shopping-cart{background: #292929; color:#ffb422;}
.m-shop-footer .purchase{background: #ffb422; color:#292929;}


/* shop 商城 --------------------------------------------------------------------------- */

.g-shop-class{width:100%; height:100%;}
.g-shop-class.IndexActive{position:fixed; display: flex;}

.m-vertical-navbar{width:2.5rem;}
.m-vertical-navbar li{height:1.33rem; line-height: 1.33rem; padding-left:.4rem; font-size: .42rem; display: block; border-bottom: .01rem #eee solid;}
.m-vertical-navbar li.router-link-active{background: #fff; position:relative;}
.m-vertical-navbar li.router-link-active:before{content: ""; position:absolute; left:0; height:1.33rem; width:.1rem; background: #ffb422;}

.m-category{flex:1; background: #fff; padding:.32rem; overflow-y:auto;}
.m-category .list{flex-wrap:wrap; display:flex; padding-bottom:3rem;}
.m-category .list-data{width:30%; text-align: center; display: block; font-size:.42rem; margin-bottom:.32rem; margin-right:5%;}
.m-category .list-data:nth-child(3n+0){ margin-right:0rem; }
.m-category .list-data img{max-width:100%;}

/* shop商城列表 ----------------------------------------------------------------------- */

.g-shop-list{background: #fff; padding:.32rem;}
.m-shop-list>ul{display: flex; flex-wrap:wrap; justify-content: space-between;}
.m-shop-list>ul>li{width:50%; padding-bottom: .4rem;}
.m-shop-list>ul>li:nth-child(odd){padding-right:.16rem;}
.m-shop-list>ul>li:nth-child(even){padding-left:.16rem;}
.m-shop-list li>a{display: block; overflow: hidden;}
.m-shop-list li img{width:100%;}
.m-shop-list li h3{font-size:.42rem; margin-bottom: .2rem;}
.m-shop-list li p{font-size:.4rem; line-height: .6rem; float:left; font-weight: bold;}
.m-shop-list li span{font-size:.32rem; line-height: .6rem; float:right; color:#666;}

/* shop商城详情 */

.g-shop-msg-banner .swiper-slide{width: 100%; padding-bottom: 80%; background-position: center; background-repeat: no-repeat; background-size: 100%;}

.g-shop-head{background: #fff; padding:.32rem; margin-bottom: 0.21rem;}
.m-shop-head h1{font-size:.42rem; margin-bottom:.32rem;}
.m-shop-head p{font-size:.53rem; font-weight: bold; margin-bottom:.32rem;}
.m-shop-head p>s{font-size:.32rem; margin-left:.2rem; color:#666;}
.m-shop-head .note{display: flex;}
.m-shop-head .note>span{flex:1; font-size:.32rem; color:#666;}
.m-shop-head .note>span:nth-child(2){text-align: center;}
.m-shop-head .note>span:nth-child(3){text-align: right;}

/* shop商城详情大家还购买了 */
.g-shop-similar{background: #fff; padding:.32rem; margin-bottom: 0.21rem;}
.g-shop-similar .head{margin-bottom: .32rem; overflow: hidden; }
.g-shop-similar h2{font-size:.32rem; float:left; border-left: .08rem #ffb422 solid; padding-left:.2rem;}
.g-shop-similar a.more{font-size:.32rem; float:right;}

/* shop详情介绍布局 */
.g-shop-introduce{background: #fff; padding:.32rem; margin-bottom: 0.21rem; text-align: center; font-size:0px;}
.g-shop-introduce img{max-width: 100%;}
